* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Prompt", sans-serif;
}

a {
  text-decoration: none;
  color: #222;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  justify-content: center;

  input {
    padding: 0.5rem 0;
  }
}
