.main {
  transition: all 1s;
  color: #fff;
  position: relative;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  & * {
    z-index: 5;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &-navbar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > div,
      ul {
        display: flex;
        align-items: center;
      }

      .main-nav-content {
        padding-left: 40px;
      }

      ul {
        a {
          color: #fff;
          height: 100%;
          margin: 0 10px;
          padding: 10px 0;
          border-bottom: 3px transparent solid;
          transition: all 0.3s;

          &:hover {
            border-bottom: 3px solid $primary-color;
          }
        }
      }
    }
  }

  &-content {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    h1 {
      width: 500px;
    }
  }
}

.about-us {
  text-align: center;

  .lead {
    max-width: 800px;
    margin: 0 auto;
  }
}

.events {
  text-align: center;

  .event {
    background-color: rgba(0, 201, 40, 0.1);
    color: #222;
    display: flex;
    align-items: center;

    .image {
      background-position: center;
      background-size: cover;
      height: 400px;
      flex: 1;
    }

    .image-1 {
      background-image: $painting-bg;
    }

    .image-2 {
      background-image: $social-bg;
    }

    .image-3 {
      background-image: $dancing-bg;
    }

    .content {
      flex: 1.7;
      text-align: left;
      padding: 0 1.3rem;

      h1 {
        font-size: 2rem;
      }
    }
  }
}

footer {
  text-align: center;
  color: #fff;
  background-color: $dark-color;

  .social {
    display: flex;
    flex-direction: column;
  }

  a {
    color: #fff;
  }
}
