.container {
  max-width: $max-width;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0 0 2rem 0;
}

.lead {
  padding: 2.5rem 0;
  font-size: 1.2rem;
  word-spacing: 2px;
}

.divide {
  content: "";
  height: 10px;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 4px solid $secondary-color;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-light {
  background-color: $light-color;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.m-2 {
  margin: 2rem 0;
}

.m-3 {
  margin: 3rem 0;
}

%btn-shared {
  display: inline-block;
  padding: 1rem 1.4rem;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.btn {
  &-primary {
    @extend %btn-shared;
    background-color: $primary-color;
    color: #222;
  }
}
