$max-width: 1200px;
$primary-color: #00ffab;
$secondary-color: #14c38e;
$light-color: #e3fcbf;
$dark-color: #333;

$image-1: url(../img/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg);
$image-2: url(../img/christopher-jolly-GqbU78bdJFM-unsplash.jpg);
$image-3: url(../img/vlad-sargu-ItphH2lGzuI-unsplash.jpg);
