.container {
  max-width: 1200px;
  margin: 0 auto; }

.section-title {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0 0 2rem 0;
  color: #333; }

.lead {
  padding: 2.5rem 0;
  font-size: 1.2rem;
  word-spacing: 2px;
  color: #333; }

.divide {
  content: "";
  height: 10px;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 4px solid #14c38e; }

.bg-primary {
  background-color: #00ffab; }

.bg-light {
  background-color: #e3fcbf; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.m-2 {
  margin: 2rem 0; }

.m-3 {
  margin: 3rem 0; }

.btn-primary {
  display: inline-block;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s; }
  .btn-primary:hover {
    opacity: 0.7; }

.btn-primary {
  background-color: #00ffab;
  color: #222;
  border: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Prompt", sans-serif; }

a {
  text-decoration: none;
  color: #222; }

ul {
  list-style: none; }

img {
  width: 100%; }

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  justify-content: center; }
  form input {
    padding: 0.5rem 0; }

.main {
  transition: all 1s;
  color: #fff;
  position: relative;
  background-image: url(../img/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; }
  .main .slider-pointers {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 20px; }
    .main .slider-pointers .pointer {
      border: 2px solid #fff;
      width: 25px;
      cursor: pointer;
      height: 25px;
      border-radius: 50%;
      margin-left: 10px;
      transition: all 1s; }
      .main .slider-pointers .pointer.selected {
        background-color: #fff; }
  .main * {
    z-index: 5; }
  .main-navbar {
    padding: 25px 0;
    position: fixed;
    width: 100%;
    background-color: rgba(72, 145, 115, 0.7); }
    .main-navbar nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .main-navbar nav > div,
      .main-navbar nav ul {
        display: flex;
        align-items: center; }
      .main-navbar nav .main-nav-content {
        padding-left: 40px; }
      .main-navbar nav ul a {
        color: #fff;
        height: 100%;
        margin: 0 10px;
        padding: 10px 0;
        border-bottom: 3px transparent solid;
        transition: all 0.3s; }
        .main-navbar nav ul a:hover {
          border-bottom: 3px solid #fff; }
  .main-content {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    -webkit-text-stroke: 2.5px;
    -webkit-text-stroke-color: #333; }
    .main-content h1 {
      width: 500px; }

.about-us {
  text-align: center; }
  .about-us .lead {
    max-width: 800px;
    margin: 0 auto; }

.events {
  text-align: center; }
  .events .event {
    background-color: rgba(0, 201, 40, 0.1);
    color: #222;
    display: flex;
    align-items: center; }
    .events .event .image {
      background-position: center;
      background-size: cover;
      height: 400px;
      flex: 1; }
    .events .event .image-1 {
      background-image: url(../img/painting.jpg); }
    .events .event .image-2 {
      background-image: url(../img/social.jpg); }
    .events .event .image-3 {
      background-image: url(../img/dancing.jpg); }
    .events .event .content {
      flex: 1.7;
      text-align: left;
      padding: 0 1.3rem; }
      .events .event .content h1 {
        font-size: 2rem; }

.contact-us form input:not(:last-child) {
  margin-bottom: 1rem; }

.contact-us form .content {
  height: 120px; }

.contact-us .btn-primary {
  align-self: center;
  padding: 1rem 1.2rem;
  cursor: pointer; }

footer {
  text-align: center;
  color: #fff;
  background-color: #333; }
  footer .social {
    display: flex;
    flex-direction: column; }
  footer a {
    color: #fff; }
